@font-face {
    font-family: 'MilkshakeCreps';
    src: url('../assets/fonts/MilkshakeCreps.otf') format('opentype');
}

@font-face {
    font-family: 'VanillaCaramel';
    src: url('../assets/fonts/VanillaCaramel.otf') format('opentype');
}

@font-face {
    font-family: 'MilkyNice';
    src: url('../assets/fonts/MilkyNice-Clean.otf') format('opentype');
}

:root {
    --text-shadow: drop-shadow(2px 1px 0 white) drop-shadow(2px 1px 0 white);
    --text-stroke: drop-shadow(1.5px 0px 0 white) drop-shadow(0px -0.5px 0 white) drop-shadow(-0.5px 0px 0 white) drop-shadow(0px 1.5px 0 white);
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.bgImg {
    background-image: url('../assets/images/background.png');
    -webkit-filter: blur(2px);
    filter: blur(2px);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.mainContainer {
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 10px rgba(85, 116, 219, 0.623);
    backdrop-filter: blur(9px);
    border-radius: 2rem;
    width: 35%;
    height: 80%;
    min-width: 30rem;
    max-height: 50rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem;
}

.imgContainer {
    margin-top: 0.2rem;
}

#LABEL_SOREN {
    color: rgb(113, 134, 255);
    filter: var(--text-shadow);
    font-family: "MilkyNice";
    font-size: 3rem;
    position: relative;
    top: 0.6rem;
    margin: 0;
    padding: 0;
}

#IMG_DCPFP {
    border-radius: 50%;
    border: 4px solid #ffffff;
    box-shadow: 0 4px 15px rgb(113, 134, 255);
    object-fit: cover;
    width: 6rem;
    height: auto;
}

.headerText {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin: 0;
    padding: 0;
    position: relative;
    left: 1.4rem;
    top: 0.6rem;
}

#LABEL_INFO {
    color: rgb(113, 134, 255);
    filter: var(--text-stroke);
    font-family: "MilkyNice";
    font-size: 1.5rem;
    position: relative;
    margin: 0;
    padding: 0;
}

.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 75%;
    gap: 5%;
}

.container {
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(9px);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateZ(0);
}

.container img {
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
    border-right: 3px solid white;
    object-fit: contain;
}

.textContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    color: rgb(113, 134, 255);
    gap: 0;
}

.textContainer h1 {
    font-family: "MilkshakeCreps";
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 2rem;
    filter: var(--text-shadow);
}

.textContainer p {
    font-family: "MilkyNice";
    padding: 0;
    margin: 0;
    text-align: center;
    filter: var(--text-stroke);
}

#TEXT_B {
    font-size: 1.3rem;
}

#TEXT_C {
    font-size: 1.8rem;
}

a {
    color: rgb(113, 134, 255);
    text-decoration: none;
}