@font-face {
    font-family: 'SignPaintoh';
    src: url('../assets/fonts/Sign\ Paintoh.otf') format('opentype');
}

@font-face {
    font-family: 'Velnica';
    src: url('../assets/fonts/Velnica.ttf') format('opentype');
}

@font-face {
    font-family: 'French';
    src: url('../assets/fonts/French.ttf') format('opentype');
}

:root {
    --text-shadow: drop-shadow(2px 1px 0 black) drop-shadow(2px 1px 0 black);
    --text-shadow-why: drop-shadow(2px 1px 0 white) drop-shadow(2px 1px 0 white);
    --text-stroke: drop-shadow(1.5px 0px 0 black) drop-shadow(0px -0.5px 0 black) drop-shadow(-0.5px 0px 0 black) drop-shadow(0px 1.5px 0 black);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.letsholdthisplacetogether {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileContainer>h1 {
    font-size: 2rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.8rem 0 0.8rem 0.5rem;
}

.profileContainer a {
    color: white;
}

.pgBlur {
    position: absolute;
    z-index: 2;
    width: 95vw;
    height: auto;
    bottom: 0;
    top: 0;
    background-color: rgba(75, 75, 75, 0.267);
    backdrop-filter: blur(8px);
    transition: opacity 0.2s ease;
    opacity: 0;
    pointer-events: none;
}

.main {
    position: relative;
    width: 95vw;
    overflow: hidden;
}

.background {
    position: absolute;
    z-index: 0;
    width: 95vw;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
}

.containerPg {
    transition: opacity 0.3s ease;
}

.hintContainer,
.socialBox {
    position: absolute;
    border-radius: 1rem;
    color: white;
    pointer-events: none;
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
    flex-direction: row;
}

.hintContainer h1,
.socialBox h1 {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    font-family: "French";
    color: white;
    filter: var(--text-shadow);
    font-size: 2.5rem;
    text-align: center;
}

.hintContainer img,
.socialBox img {
    padding: 0.7rem 0.7rem 0.7rem 0.7rem;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-color: rgb(238, 238, 238);
    filter: invert(1);
    width: 2rem;
    height: 2rem;
}

.socialBox img {
    background-color: rgb(17, 17, 17);
    filter: none;
}


.textContainer,
.socialInfo {
    background-color: rgb(17, 17, 17);
    padding: 0.7rem 0.7rem 0 0.7rem;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(2px 1px 0 black) drop-shadow(2px 1px 0 black);
}

.textContainer h1,
.socialInfo h1 {
    text-align: left;
}

.textContainer>h1:first-child,
.socialInfo>h1:first-child {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    background-color: white;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: var(--text-shadow);
    text-align: left;
}

.textContainer h2,
.socialBox h2 {
    color: white;
    pointer-events: visible;
    font-family: "French";
}


#IMG_LYCAON_MINDSCAPE {
    width: 95vw;
    z-index: 0;
    scale: 1.1;
    height: auto;
    position: relative;
    display: block;
    transition: transform 0.1s ease-out;
    transform-origin: center center;
}


#hintContainer_A {
    top: 10%;
    left: 10%;
}

#hintContainer_B {
    top: 15%;
    right: 30%;
}

#hintContainer_C {
    bottom: 15%;
    left: 5%;
}

#hintContainer_D {
    bottom: 10%;
    right: 27%
}

.buttonsContainer {
    background-color: rgb(19, 19, 19);
    width: 4.5rem;
    height: 75%;
    border-radius: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 1.2rem;
}

.buttonsContainer input {
    filter: drop-shadow(0 0 7px rgba(100, 100, 100, 0.62)) invert(1);
    width: 45%;
    height: auto;
    cursor: pointer;
    object-fit: cover;
    transition: filter 0.2s;
    transition: scale 0.2s ease;
}

#TEXT_FOOTER {
    font-size: 1rem;
}

.infoContainer {
    z-index: 2;
    position: absolute;
    color: white;
    pointer-events: none;
    display: flex;
    flex-direction: row;
}

.infoContainer>h1:first-child {
    background-color: rgba(20, 20, 20);
    filter: var(--text-shadow-why);
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    padding: 0;
    margin: 0;
    width: fit-content;
    font-size: 4rem;
    height: fit-content;
}

.infoTextContainer {
    background-color: rgba(20, 20, 20);
    filter: var(--text-shadow-why);
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    padding: 0 0.5rem 0.5rem 0.5rem;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.infoTextContainer h1 {
    font-size: 5rem;
    font-family: "SignPaintoh";
}

.infoContainer h2 {
    font-size: 2.5rem;
    font-family: "French";
}

#infoContainer_A {
    top: 15%;
    left: 5%;
}

#infoContainer_B {
    top: 17%;
    left: 40%;
}

#infoContainer_B h1 {
    font-size: 3rem;
}

#infoContainer_B h2 {
    font: 3rem;
}

#socialBoxA {
    top: 20%;
    left: 8%;
}

#socialBoxB {
    top: 20%;
    left: 30%;
}

#socialBoxC {
    top: 20%;
    left: 52%;
}

#socialBoxD {
    bottom: 20%;
    left: 8%;
}

#socialBoxE {
    bottom: 18%;
    left: 30%;
}

#socialBoxF {
    bottom: 17%;
    left: 52%;
}

.socialBox a {
    color: white;
    pointer-events: visible;
    font-size: 2.5rem;
    font-family: "French";
}

#SOCIAL_USER_D a {
    font-size: 2rem;
}

#SOCIAL_USER_F {
    font-size: 2.7rem;
}